/* BASE */
html, body {
    height: 100%;
}

body {
    background: url("../images/body.gif") repeat scroll 0 0 #F8F8F8;
    color: #333333;
    font-family: 'Open Sans', "Times New Roman", Times, Georgia, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    transition: font-size 200ms ease-out 50ms;
}