/* FONT FACE */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff'); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff'); }

/* BASE */
html, body {
  height: 100%; }

body {
  background: url("../images/body.gif") repeat scroll 0 0 #F8F8F8;
  color: #333333;
  font-family: 'Open Sans', "Times New Roman", Times, Georgia, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

div {
  -moz-animation-duration: 4500ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-name: show;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-duration: 4500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: show;
  -webkit-animation-timing-function: ease-out;
  animation-duration: 4500ms;
  animation-iteration-count: 1;
  animation-name: show;
  animation-timing-function: ease-out;
  margin: 0 12% 0 6%;
  padding: 2em 0 0; }

h1, p, a {
  text-shadow: 1px 1px 0 #FFFFFF; }

h1 {
  font-size: 2em;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  margin: 0 0 1em; }

a {
  color: #4183C4;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

::-moz-selection {
  background-color: #1F7AD7;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }

::selection {
  background-color: #1F7AD7;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }

/* KEYFRAMES 
 *
 * https://github.com/andrew/node-sass/issues/60
 *
 * @-moz-keyframes show {
 *   0% {
 *       -moz-transform: rotate(18deg) scale(0.2);
 *       opacity: 0;
 *   }
 *   100% {
 *       -moz-transform: rotate(0deg) scale(1);
 *       opacity: 1;
 *   }
 * }
 * 
 * @-webkit-keyframes show {
 *   0% {
 *       -webkit-transform: rotate(18deg) scale(0.2);
 *       opacity: 0;
 *   }
 *   100% {
 *       -webkit-transform: rotate(0deg) scale(1);
 *       opacity: 1;
 *   }
 * }
 * 
 * @keyframes show {
 *   0% {
 *       opacity: 0;
 *       transform: scale(0.2) rotate(18deg);
 *   }
 *   100% {
 *       opacity: 1;
 *       transform: scale(1) rotate(0deg);
 *   }
 * }
 *
 */
/* MEDIA QUERIES */
@media screen and (max-width: 1288px) {
  body {
    font-size: 21px; } }
@media screen and (max-width: 1024px) {
  body {
    font-size: 17px; } }
@media screen and (max-width: 800px) {
  body {
    font-size: 14px; } }
@media screen and (max-width: 480px) {
  body {
    font-size: 11px; } }
